
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,300&family=Outfit:wght@400;700&family=Poppins:wght@300;400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
   padding: 1rem 1rem .5rem 1rem;
}

.navbar .bugger {
  font-size: 1.5rem;
}

.container{
  margin: 0 1rem;
}

.app{
    background-color: #F2E9EB;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0rem;
  font-family: "montserrat";
  margin-top: 6rem;
  padding-bottom: 1rem;
}

.menu{
  background-color: rgba(221, 142, 138, 0.79);
  width: 360px;
  height: 304px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left:0;
  top: 3rem;
  z-index: 9999;
  border-radius: 10px 0 0 10px;
  backdrop-filter: blur(7px);
}

.menu-list ul li{
  font-family: "montserrat";
  list-style: none;
  text-align: center;
  font-size: 36px;
}

.menu-list ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.active{
  font-weight: 600;
  position: relative;
}

.active::after{
  content: "";
  background-color: black;
  display: flex;
  position: absolute;
  left: 2.5rem;
  padding: .5px;
  width: 69px;
}

.off{
  display: none;
}

